<key>CFBundleName</key>
<string>ChineseCheckers</string>
<key>CFBundleDisplayName</key>
<string>ChineseCheckers</key>
<key>CFBundleIdentifier</key>
<string>com.jamespdanielm.chinesecheckers</string>
<key>CFBundleVersion</key>
<string>0.0.1</string>
<key>CFBundlePackageType</key>
<string>APPL</string>
<key>CFBundleSignature</key>
<string>jdcc</string>
<key>CFBundleExecutable</key>
<string>ChineseCheckers</string>
<key>CFBundleIconFile</key>
<string>AppIcon</string>
<key>CFBundleIconName</key>
<string>AppIcon</string>